@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/dreambig.scss';
#banner{
 width: 300px;
 height: 600px; 
}




#olg{
	width: 129px;
	height: 89px;
	@include pos(0, 526);
	// opacity: .5 !important;
	;
}

#legalBtn{	
	@include pos(240, 0);	
	width: 60px;
}




.frame3{
	.dream_big{
		@include pos-scale(-21, 61, .675);
		
	}
}


.tickerMain{
	transform: scale(0.558) translate(-32px, 346px) skew(2deg, -6deg);
}

#legalBtn{	
	@include pos(240, 0);	
	width: 60px;
	// opacity: 1;
}